<?xml version="1.0" encoding="utf-8" ?>

<bundles version="1.0">
  <styleBundle path="~/Content/FrontendCSS">
    <include path="~/Content/BoostrapCSS/bootstrap.css"  />
    <include path="~/Content/FrontendCSS/style.css" />
    <include path="~/Content/FrontendCSS/font-awesome.css" />
    <include path="~/Content/FrontendCSS/base.css" />
    <include path="~/Content/FrontendCSS/responsive.css" />
    <include path="~/Content/FrontendCSS/colors/green.css" />
  </styleBundle>
  <styleBundle path="~/Content/images">
    <include path="~/Content/images/*.png" />
    <include path="~/Content/images/*.jpg" />
    <include path="~/Content/images/bg/*.png" />
  </styleBundle>
  <styleBundle path="~/Content/BoostrapCSS">
    <include path="~/Content/BoostrapCSS/bootstrap.css" />
  </styleBundle>

</bundles>